.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header_inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    align-items: center;
}

.header_logo {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: 24px;
}

.contact-form_content {
    display: block;
    margin: auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form_heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.form {
    margin: auto;
    max-width: 600px;
    width: 100%;
    text-align: left;
    background-color: #fff;
}

.form_group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.form_group-title {
    width: 150px;
    font-size: 14px;
    font-weight: bold;

}

.group-title {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}

.form_group-title {
    flex: 1;
}

.form_input-text input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    box-sizing: border-box;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form_button {
    margin-top: 30px;
}

.form_button-submit {
    width: 20%;
    height: 50px;
    font-size: 16px;
    background-color: #3a2d24;
    color: #fff;
    border: none;
}